body {
    background-image: url('/images/steven universe aesthetics.png');
    background-color: rgb(221, 88, 135);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
