body {
    background-image: url('/images/steven universe aesthetics.png');
    background-repeat: no-repeat;
    background-size: 100%;
}



.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}