body {
    background-image: url('/images/download.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}



.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
    width: 100%!important;
}
footer {
    background-color: rgb(221, 88, 135);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
